<style>
md-card md-card-content{
	text-align: center;
	font-weight: bold;
}

</style>
<div ng-app="nbastaz" ng-controller="hController">
 <!-- <md-toolbar style="background:#1DE9B6;position:relative;"><h1 style="line-height:20px;text-align:center">Top Players for {{yesterday.getMonthName()}}, {{yesterday.toFormat("D")}}</h1></md-toolbar> -->
 <md-toolbar style="background:#1DE9B6;position:relative;color:white;"><h1 style="line-height:20px;text-align:center">Top Players of the Season</h1></md-toolbar>


  <md-content style="position:absolute; top:90px; left:30px;">
          <md-card style="height:230px; width:270px;box-shadow:0 2px 10px 0 #FF5722">
          <md-card-content>
    			<img style='left:7%; position:absolute;' ng-src="{{top_p[0].image_top.split('&')[0]}}" width="260" height="180"></img>
          </md-card-content>
          </md-card>
  </md-content>

  <md-content style="position:absolute; top:90px; left:365px;">
          <md-card style="height:230px; width:270px;box-shadow:0 2px 10px 0 #0a3665">
          <md-card-content>
    			<img style='left:7%; position:absolute;' ng-src="{{top_p[1].image_top.split('&')[0]}}" width="260" height="180"></img>
          </md-card-content>
          </md-card>
  </md-content>

  <md-content style="position:absolute; top:90px; left:700px;">
          <md-card style="height:230px; width:270px;box-shadow:0 2px 10px 0 #FF5722">
          <md-card-content>
    			<img style='left:7%; position:absolute;' ng-src="{{top_p[2].image_top.split('&')[0]}}" width="260" height="180"></img>
          </md-card-content>
          </md-card>
  </md-content>

  <md-content style="position:absolute;top:335px;left:30px;">
          <md-card style="height:90px; width:270px;box-shadow:0 2px 10px 0 #0a3665">
          <md-card-content>
				<span style="text-align:center">{{top_p[0].players[0]}}</span><br>
				<span style="text-align:center;font-weight:normal;">{{top_p[0].category}}</span><br>
				<span style="text-align:center;">{{top_p[0].scores[0]}}</span>
          </md-card-content>
          </md-card>
  </md-content>

  <md-content style="position:absolute; top:335px; left:365px">
          <md-card style="height:90px; width:270px;box-shadow:0 2px 10px 0 #FF5722">
          <md-card-content>
          		<span style="text-align:center">{{top_p[1].players[0]}}</span><br>
          		<span style="text-align:center;font-weight:normal;">{{top_p[1].category}}</span><br>
				<span style="text-align:center;">{{top_p[1].scores[0]}}</span>
          </md-card-content>
          </md-card>
  </md-content>

  <md-content style="position:absolute; top:335px; left:700px">
          <md-card style="height:90px; width:270px;box-shadow:0 2px 10px 0 #0a3665">
          <md-card-content>
    			<span style="text-align:center">{{top_p[2].players[0]}}</span><br>
    			<span style="text-align:center;font-weight:normal;">{{top_p[2].category}}</span><br>
				<span style="text-align:center;">{{top_p[2].scores[0]}}</span>
          </md-card-content>
          </md-card>
  </md-content>

  <!-- second line of players -->

  <md-content style="position:absolute; top:450px; left:30px;">
          <md-card style="height:230px; width:270px;box-shadow:0 2px 10px 0 #FF5722">
          <md-card-content>
          <img style='left:7%; position:absolute;' ng-src="{{top_p[3].image_top.split('&')[0]}}" width="260" height="180"></img>
          </md-card-content>
          </md-card>
  </md-content>

  <md-content style="position:absolute; top:450px; left:365px;">
          <md-card style="height:230px; width:270px;box-shadow:0 2px 10px 0 #0a3665">
          <md-card-content>
          <img style='left:7%; position:absolute;' ng-src="{{top_p[4].image_top.split('&')[0]}}" width="260" height="180"></img>
          </md-card-content>
          </md-card>
  </md-content>

  <md-content style="position:absolute; top:450px; left:700px;">
          <md-card style="height:230px; width:270px;box-shadow:0 2px 10px 0 #FF5722">
          <md-card-content>
          <img style='left:7%; position:absolute;' ng-src="{{top_p[5].image_top.split('&')[0]}}" width="260" height="180"></img>
          </md-card-content>
          </md-card>
  </md-content>

  <md-content style="position:absolute;top:695px;left:30px;">
          <md-card style="height:90px; width:270px;box-shadow:0 2px 10px 0 #0a3665">
          <md-card-content>
        <span style="text-align:center">{{top_p[3].players[0]}}</span><br>
        <span style="text-align:center;font-weight:normal;">{{top_p[3].category}}</span><br>
        <span style="text-align:center;">{{top_p[3].scores[0]}}</span>
          </md-card-content>
          </md-card>
  </md-content>

  <md-content style="position:absolute; top:695px; left:365px">
          <md-card style="height:90px; width:270px;box-shadow:0 2px 10px 0 #FF5722">
          <md-card-content>
              <span style="text-align:center">{{top_p[4].players[0]}}</span><br>
              <span style="text-align:center;font-weight:normal;">{{top_p[4].category}}</span><br>
        <span style="text-align:center;">{{top_p[4].scores[0]}}</span>
          </md-card-content>
          </md-card>
  </md-content>

  <md-content style="position:absolute; top:695px; left:700px">
          <md-card style="height:90px; width:270px;box-shadow:0 2px 10px 0 #0a3665">
          <md-card-content>
          <span style="text-align:center">{{top_p[5].players[0]}}</span><br>
          <span style="text-align:center;font-weight:normal;">{{top_p[5].category}}</span><br>
        <span style="text-align:center;">{{top_p[5].scores[0]}}</span>
          </md-card-content>
          </md-card>
  </md-content>
  <div style="position:absolute;top:150%;width:97%;">
  <md-toolbar style="background:#b31217;position:relative;color:white;"><h1 style="line-height:20px;text-align:center">YouTube</h1></md-toolbar>
  <br>

  <iframe ng-repeat="url in response" style="position:relative;left:5%" ng-src="{{ url }}" width="940px" height="529px" allowfullscreen data-hddefault='true'></iframe>

</div>
</div>