<style>
h4,h2, h5{
  text-align:center;
}

h3{
  line-height: 110px;
  text-align:center;
}

h4{
  word-wrap: break-word;
}

.list,.md-theme-light{
padding-left:3px;

  padding-right: 3px;
}
</style>

    <div style="display: inline-block; position:absolute; top:40%;left:20%;" ng-hide=nm layout="row" layout-sm="column" layout-align="space-around" ng-controller="nextMatchController">
      <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
    </div>


<!-- Next matches-->
<div ng-show=nm style="display: inline-block; position:absolute;" ng-app="nbastaz" ng-controller="nextMatchController" flex>
  <md-toolbar class="md-theme-light" style="width:360px">
  <h1>{{today}}</h1>
    <h2 class="md-toolbar-tools">
      <div flex>Visitor</div><div flex>Home</div><div flex>Time</div>
    </h2>
  </md-toolbar>

  <md-content >
    <md-list>

      <md-item data-ng-repeat="match in results">
        <md-item-content>
          <div class="md-tile-content">
            <div layout="row">
              <div flex  class="list"> <img ng-src="{{ match.vteam.logo }}" width="80" height="80" /><h4>{{match.vteam.name}}</h4></div>
              <div flex  class="list">  <img ng-src="{{ match.hteam.logo }}" width="80" height="80" /><h4>{{match.hteam.name}}</h4></div>
              <div  class="list"> <h3>{{match.time}}</h3></div>
              </div>
          </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
      </md-item>
    </md-list>
  </md-content>
</div>

 <!-- A table for every previous match -->
<div ng-show=pm style="display: inline-block; position:absolute; left:40%;" ng-app="nbastaz" ng-controller="prevMatchController"  flex>
 <md-toolbar class="md-theme-light" style="background-color:#ff1744; width:625px">
 <h1>{{yesterday}}</h1>
    <h2 class="md-toolbar-tools">
      <div flex>Visitor</div><div flex>Home</div><div flex>Q1</div><div flex>Q2</div><div flex>Q3</div><div flex>Q4</div><div flex>OT</div><div flex>Final</div>
    </h2>
  </md-toolbar>
   <md-content>
    <md-list>

      <md-item data-ng-repeat="match in results">
        <md-item-content>
          <div class="md-tile-content">
            <div layout="row">
              <div flex  class="list"> <img ng-src="{{ match.vteam.logo }}" width="80" height="80" /><h4>{{match.vteam.name}}</h4></div>
              <div flex  class="list">  <img ng-src="{{ match.hteam.logo }}" width="80" height="80" /><h4>{{match.hteam.name}}</h4></div>
			  <div flex class="list"> <h5> {{match.vteam.qtrs[0]}} </h5> <h5> {{match.hteam.qtrs[0]}} </h5>  </div>
              <div flex class="list"> <h5> {{match.vteam.qtrs[1]}} </h5> <h5> {{match.hteam.qtrs[1]}} </h5>  </div>
              <div flex class="list"> <h5> {{match.vteam.qtrs[2]}} </h5> <h5> {{match.hteam.qtrs[2]}} </h5>  </div> 
              <div flex class="list"> <h5> {{match.vteam.qtrs[3]}} </h5> <h5> {{match.hteam.qtrs[3]}} </h5>  </div> 
              <div flex class="list"> <h5> {{match.vteam.qtrs[4]}} </h5> <h5> {{match.hteam.qtrs[4]}} </h5>  </div> 
              <div flex  class="list"> <h3>{{match.vteam.finl}}-{{match.hteam.finl}}</h3></div>
              </div>
          </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
      </md-item>
    </md-list>
  </md-content>
</div>


<!-- <div style="position:relative; top:75px; left:500px;"> -->
  <!-- news -->
<!--     <div style="border-radius: 10px 10px 10px 10px; width: 320px; border: #000000 1px solid; background-color: #006699; text-align: center; padding: 0px 2px 7px 2px;">
<div style=" border-radius: 10px 10px 10px 10px; color: #FFFFFF; font: 13px arial, sans-serif; font-weight: bold; text-align: center; padding: 3px;">
Latest News<br>
</div>
<iframe id="NewsWindow" seamless src="scroll/news_win.htm" height="300" marginwidth="0" marginheight="0" frameborder="0" scrolling="no" style="display: block; margin: 0 auto; padding: 0; border: #000000 1px solid;"></iframe>
</div>
</div> -->