
<html>
<head>


<style type="text/css">
.foot{
	background-color:#0069b3; 
	color:#FFFFFF;
  opacity: 0.8;
}

md-grid-tile-footer figcaption  {
  margin: 0px;
  font-weight: 30;
  width: 100%;
}

md-grid-tile-footer figcaption h3 {
	position:relative;
	left:-10px;
  	text-align: center; 
}

input{
  height: 35px !important;
}

ul{
 /* height:0px !important;*/
 visibility: hidden;
}

#cont{
  position:relative;
  left:240px;
  height:200px;
}

</style>
</head>
<body>
<div ng-controller="PaginationCtrl">

  <div layout="column" style='height:100px; width:500px;'>
    <md-content id="cont" class="md-padding" layout="column">

      <md-autocomplete
          ng-disabled="isDisabled"
          md-no-cache="noCache"
          md-selected-item="searchText"
          md-search-text="searchText"
          md-items="item in querySearchFunc(searchText)"
          md-item-text="item"
          md-search-text-change = "querySearchFunc(searchText)"
          placeholder="Search a player"
          style='width:400px;'
          >
        <span md-highlight-text="searchText">{{item}}</span>
      </md-autocomplete>
    </md-content>
  </div>





  <md-grid-list
            md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
            md-row-height-gt-md="1:1" md-row-height="4:3"
            md-gutter="8px" md-gutter-gt-sm="4px" >
          <md-grid-tile ng-repeat="player in items_filtered" ng-if="filterPlayer(player.name)" >
              <a style="cursor:pointer;" ng-click="$root.selected={name: 'player', iconurl: '',href: '/player.html'};$root.player_id=player.id"><img ng-src="{{player.image}}" width="120" height="120"></img></a>
               <md-grid-tile-footer class="foot" ><h3 style="font-weight: bold;">{{player.name}}</h3></md-grid-tile-footer>
          </span>
          </md-grid-tile>
        </md-grid-list>
</div>

</body>
</html>