
<html>
<head>
<link rel="stylesheet" href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css">

<style type="text/css">
.foot{
	background-color:#0069b3; 
	color:#FFFFFF;
}

md-grid-tile-footer figcaption  {
  margin: 0px;
  font-weight: 30;
  width: 100%;
}

md-grid-tile-footer figcaption h3 {
	position:relative;
	left:-10px;
  	text-align: center; 
}

</style>
</head>
<body>
<div ng-controller="PaginationCtrl">


<md-grid-list
          md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
          md-row-height-gt-md="1:1" md-row-height="4:3"
          md-gutter="8px" md-gutter-gt-sm="4px" >
        <md-grid-tile ng-repeat="player in items  | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
            <img ng-src="{{player.image}}" width="120" height="120"></img>
             <md-grid-tile-footer class="foot" ><h3 style="font-weight: bold;">{{player.name}}</h3></md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>

<table class="table table-striped">
<td colspan="3"> 
<div class="pagination">
<ul>
<li ng-class="prevPageDisabled()">
<a href ng-click="prevPage()">« Prev</a>
</li>
<li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
<a href="#">{{n+1}}</a>
</li>
<li ng-class="nextPageDisabled()">
<a href ng-click="nextPage()">Next »</a>
</li>
</ul>
</div>
</td>
</table>
</div>
</body>
</html>