<html ng-app="nbastaz">
<head>
	 <link rel="stylesheet" href="css/tabs.css">
   <style>
    md-tabs.md-default-theme md-tabs-ink-bar {
      background-color:#FF5722 ;
    }

    .datacard{
      width:190px; 
      height:110px;
    }
   </style>
</head>

<body >
<div ng-controller="playerCtrl">

	    <md-toolbar>
      <h2 style="background-color:#0069b3;" class="md-toolbar-tools">
        <span>[{{results[0].numb_pos}}] </span> &nbsp;
          <span>{{results[0].name}}</span>
      </h2>
    </md-toolbar>
    <md-tabs md-selected="data.selectedIndex">
      <md-tab id="tab1" aria-controls="tab1-content">
        Bio
      </md-tab>
      <md-tab id="tab2" aria-controls="tab2-content">
        Game Recap
      </md-tab>
    </md-tabs>

    <ng-switch on="data.selectedIndex" class="tabpanel-container">
    	<div role="tabpanel"
             id="tab1-content"
             aria-labelledby="tab1"
             ng-switch-when="0"
             md-swipe-left="next()"
             md-swipe-right="previous()" style='position:relative;' >
    		
    		<md-content>
          <md-card style="height:230px; width:397px;">
          <md-card-content>
    			<img style='left:7%; position:absolute;' ng-src="{{results[0].image}}" width="290" height="180"></img>
          </md-card-content>
          </md-card>
        </md-content>

        <md-content style="position:absolute; top:0%; left:44%;">
          <md-card class="datacard">
          <md-card-content>
          <div style='text-align:center'>
            <span style='font-weight:bold'> Team</span> <br><span>{{results[0].team}}</span>
          </div>
      </md-card-content>
    </md-card>
			</md-content>

      <md-content style="position:absolute; top:0%; left:66%;">
          <md-card class="datacard">
          <md-card-content>
          <div style='text-align:center'>
            <span style='font-weight:bold'>Born</span> <br><span>{{results[0].born}}</span>
          </div>
        </md-card-content>
        </md-card>
      </md-content>


      <md-content style="position:absolute; top:100%; left:66%;">
          <md-card class="datacard">
          <md-card-content>
          <div style='text-align:center'>
            <span style='font-weight:bold'>Height and weight</span> <br><span>{{results[0].height_weight}}</span>
          </div>
        </md-card-content>
        </md-card>
      </md-content>

      <md-content style="position:absolute; top:50%; left:44%;">
          <md-card class="datacard">
          <md-card-content>
          <div style='text-align:center'>
            <span style='font-weight:bold'>Drafted</span> <br><span>{{results[0].drafted}}</span>
          </div>
        </md-card-content>
        </md-card>
      </md-content>

      <md-content style="position:absolute; top:50%; left:66%;">
          <md-card class="datacard">
          <md-card-content>
          <div style='text-align:center'>
            <span style='font-weight:bold'>College</span> <br><span>{{results[0].college}}</span>
          </div>
        </md-card-content>
        </md-card>
      </md-content>


      <md-content style="position:absolute; top:100%; left:44%;">
          <md-card class="datacard">
          <md-card-content>
          <div style='text-align:center'>
            <span style='font-weight:bold'>Season</span> <br><span>{{results[0].season}}</span>
          </div>
        </md-card-content>
        </md-card>
      </md-content>

      <md-content style="position:absolute; top:150%; left:44%;">
          <md-card class="datacard">
          <md-card-content>
          <div style='text-align:center'>
            <span style='font-weight:bold'>Salary</span> <br><span>{{results[0].salary}}</span>
          </div>
        </md-card-content>
        </md-card>
      </md-content>


      <md-content style="position:absolute; top:150%; left:66%;">
          <md-card class="datacard">
          <md-card-content>
          <div style='text-align:center'>
            <span style='font-weight:bold'>Expiration salary</span> <br><span>{{results[0].expiration_salary}}</span>
          </div>
        </md-card-content>
        </md-card>
      </md-content>


      <md-content style="position:absolute; top:100%; left:0%;">
          <md-card class="datacard">
          <md-card-content>
          <div style='text-align:center'>
            <span style='font-weight:bold'>Experience</span> <br><span>{{results[0].experience}}</span>
          </div>
        </md-card-content>
        </md-card>
      </md-content>

      <md-content style="position:absolute; top:100%; left:22%;">
          <md-card class="datacard">
          <md-card-content>
          <div style='text-align:center'>
            <span style='font-weight:bold'>Career points per game</span> <br><span>{{results[0].career_ppg}}</span>
          </div>
        </md-card-content>
        </md-card>
      </md-content>

      <md-content style="position:absolute; top:150%; left:0%;">
          <md-card class="datacard">
          <md-card-content>
          <div style='text-align:center'>
            <span style='font-weight:bold'>Career assists per game</span> <br><span>{{results[0].career_apg}}</span>
          </div>
        </md-card-content>
        </md-card>
      </md-content>

      <md-content style="position:absolute; top:150%; left:22%;">
          <md-card class="datacard">
          <md-card-content>
          <div style='text-align:center'>
            <span style='font-weight:bold'>Career rebounds per game</span> <br><span>{{results[0].career_rpg}}</span>
          </div>
        </md-card-content>
        </md-card>
      </md-content>

		</div>

    	<div role="tabpanel"
		     id="tab2-content"
		     aria-labelledby="tab2"
		     ng-switch-when="1"
		     md-swipe-left="next()"
		     md-swipe-right="previous()" >
	
			<md-content>
				
            <md-list>
      <md-item>
        <md-item-content style='width:1400px; text-align:center;'>
          <div class="md-tile-content" style="background:#f3f6ff;color:black;font-weight:bold;color:black;">
            <div layout="row">
            <div flex>Date</div><div flex>Opponent team</div><div flex>Win/Lose</div><div flex>Result</div><div flex>Min</div><div flex>Fgm-Fga</div><div flex>Fg</div><div flex>Pm3-Pa3</div><div flex>P3</div><div flex>Ftm-Fta</div><div flex>Ft</div><div flex>Reb</div><div flex>Ast</div><div flex>Blk</div><div flex>Stl</div><div flex>Pf</div><div flex>To</div><div flex>Pts</div>
          </div>
          </div>
        </md-item-content>
        <md-divider ng-if="!$last" style='width:1400px;'></md-divider>
      </md-item>
    </md-list>
      <md-item>
        <md-item-content data-ng-repeat='i in efr' style='width:1400px; text-align:center;'>
          <div  class="md-tile-content htab">
            <div layout="row">
              <div flex>{{results[0].gamelog.date[i]}}</div><div flex>{{results[0].gamelog.opponent_team[i]}}</div><div flex>{{results[0].gamelog.win_or_lose[i]}}</div><div flex>{{results[0].gamelog.result[i]}}</div><div flex>{{results[0].gamelog.min[i]}}</div><div flex>{{results[0].gamelog.fgm_fga[i]}}</div><div flex>{{results[0].gamelog.fg[i]}}</div><div flex>{{results[0].gamelog.pm3_pa3[i]}}</div><div flex>{{results[0].gamelog.p3[i]}}</div><div flex>{{results[0].gamelog.ftm_fta[i]}}</div><div flex>{{results[0].gamelog.ft[i]}}</div><div flex>{{results[0].gamelog.reb[i]}}</div><div flex>{{results[0].gamelog.ast[i]}}</div><div flex>{{results[0].gamelog.blk[i]}}</div><div flex>{{results[0].gamelog.stl[i]}}</div><div flex>{{results[0].gamelog.pf[i]}}</div><div flex>{{results[0].gamelog.to[i]}}</div><div flex>{{results[0].gamelog.pts[i]}}</div>
          </div>
          </div>
        </md-item-content>
        <md-divider ng-if="!$last" style='width:1400px;'></md-divider>
      </md-item>
    </md-list>



			</md-content>
		</div>

	</ng-switch>


</div>
</body>
</html>