<html>
<head>
<link rel="stylesheet" href="css/tabs.css">
<style type="text/css">
.foot{
  background-color:#0069b3; 
  color:#FFFFFF;
  opacity: 0.6;
}

.head{
  background-color:#FF5722; 
  color:#FFFFFF;
  opacity: 0.6
}

md-grid-tile-footer figcaption  {
  margin: 0px;
  font-weight: 30;
  width: 100%;
}

md-grid-tile-footer figcaption h3 {
  position:relative;
  left:-10px;
  text-align: center; 
}

md-grid-tile-header figcaption  {
  margin: 0px;
  font-weight: 30;
  width: 100%;
}

md-grid-tile-header figcaption h4 {
  position:relative;
  left:-10px;
  text-align: center; 
}

</style>
</head>
<body>
<div ng-app="nbastaz" ng-controller="teamCtrl as tc" class="tabsdemoStaticTabs sample">
    <md-toolbar>
      <h2 style="background:#1976D2;" class="md-toolbar-tools">
        <span>{{results.team}}</span>
        <img ng-src="{{results.logo}}" width="60px" height="60px" style="position:absolute;right:0px;"></img>
      </h2>
    </md-toolbar>
    <md-tabs class="md-accent" md-selected="data.selectedIndex">
      <md-tab id="tab1" aria-controls="tab1-content">
        STATS
      </md-tab>
      <md-tab id="tab2" aria-controls="tab2-content">
        ROSTER
      </md-tab>
      <md-tab id="tab3" aria-controls="tab3-content">
        DEPTH
      </md-tab>
      <md-tab id="tab4" aria-control="tab4-content">
      TOP PLAYERS
  	  </md-tab>
    </md-tabs>
    <ng-switch on="data.selectedIndex" class="tabpanel-container">
        <div role="tabpanel"
             id="tab1-content"
             aria-labelledby="tab1"
             ng-switch-when="0"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
            <md-content>
    <!-- <md-toolbar class="md-theme-light" style="background:#f3f6ff;color:black;height:15%">
    <h1 class="md-toolbar-tools">
      <div flex>Player</div><div flex>GP</div><div flex>GS</div><div flex>MIN</div><div flex>PPG</div><div flex>OFFR</div>
      <div flex>DEFR</div><div flex>RPG</div><div flex>APG</div><div flex>SPG</div><div flex>BPG</div><div flex>TPG</div><div flex>FPG</div><div flex>A/TO</div><div flex>PER</div>
    </h1>
  </md-toolbar> -->
    <md-list>
      <md-item>
        <md-item-content>
          <div class="md-tile-content" style="background:#f3f6ff;color:black;font-weight:bold;color:black;">
            <div layout="row">
            <div flex>Player</div><div flex>GP</div><div flex>GS</div><div flex>MIN</div><div flex>PPG</div><div flex>OFFR</div>
      		<div flex>DEFR</div><div flex>RPG</div><div flex>APG</div><div flex>SPG</div><div flex>BPG</div><div flex>TPG</div><div flex>FPG</div><div flex>A/TO</div><div flex>PER</div>
          </div>
          </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
      </md-item>
    </md-list>
      <md-item ng-repeat="element in staz['stats']">
        <md-item-content>
          <div class="md-tile-content htab" style="color:black;">
            <div layout="row">
              <div flex>{{element.name}}</div><div flex>{{element.gp}}</div><div flex>{{element.gs}}</div><div flex>{{element.min}}</div><div flex>{{element.ppg}}</div><div flex>{{element.offr}}</div><div flex>{{element.defr}}</div><div flex>{{element.rpg}}</div><div flex>{{element.apg}}</div><div flex>{{element.spg}}</div><div flex>{{element.spg}}</div><div flex>{{element.tpg}}</div><div flex>{{element.fpg}}</div><div flex>{{element.ato}}</div><div flex>{{element.per}}</div>
          </div>
          </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
      </md-item>
    </md-list>
  </md-content>
        </div>
        <div role="tabpanel"
             id="tab2-content"
             aria-labelledby="tab2"
             ng-switch-when="1"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
            <span style="color:black;">View for Item #2<br/></span>
            data.selectedIndex = 1
        </div>
        <div role="tabpanel"
             id="tab3-content"
             aria-labelledby="tab3"
             ng-switch-when="2"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
            View for Item #3<br/>
            data.selectedIndex = 2
        </div>
        <div role="tabpanel"
             id="tab4-content"
             aria-labelledby="tab4"
             ng-switch-when="3"
             md-swipe-left="next()"
             md-swipe-right="previous()" >

             <md-grid-list
          md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
          md-row-height-gt-md="1:1.4" md-row-height="4:3"
          md-gutter="8px" md-gutter-gt-sm="4px" >
        <md-grid-tile ng-repeat="element in leaders"
                      md-rowspan="1"
                      md-colspan="1">
            <img ng-src="{{element.image}}"></img>
            <md-grid-tile-header class="head"><h4 style="font-weight: bold;">{{element.name}} {{element.number}}</h4></md-grid-tile-header>
            <md-grid-tile-footer class="foot" ><h3 style="font-weight: bold;">{{element.stat}} {{element.category}}</h3></md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>
      </div>
    </ng-switch>
</div>
</body>
</html>